<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">All <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" (click)="getProductsByCategory('Electronics')">
      <a class="nav-link" href="#">Electronics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Furniture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cell Phones</a>
    </li>
  </ul>
</nav>
