<div class="column is-one-quarter">
  <ul>
    <li class="nav-item">
      <a class="nav-link active" href="#">All <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Electronics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Furniture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cell Phones</a>
    </li>
  </ul>
</div>
