<img class="card-img-top" height="200px" src="{{item.photoUrl}}" alt="{{item.name}} image">
<div class="card-body">
  <h4 class="card-text">{{item.name}}</h4>
  <h3 class="pull-right">
    <strong>{{item.price | currency:'USD':true}}</strong>
  </h3>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="viewItemDetail(item)">View</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Offer</button>
    </div>
    <small class="text-muted">{{item.category}}</small>
  </div>
</div>